<div class="col-md-6 col-md-offset-3">
    <div class="row">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">Registration</h3>
            </div>
            <div class="panel-body">
                <form name="form" (ngSubmit)="f.form.valid && register2()" #f="ngForm" novalidate>

                    <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !username.valid }">
                        <label for="username">Username</label>
                        <input type="text" class="form-control" name="username" [(ngModel)]="model.username" #username="ngModel" required minlength="3"
                        />
                        <div *ngIf="username.errors && (username.dirty || username.touched)" class="help-block">
                            <div [hidden]="!username.errors.required">
                                Username is required
                            </div>
                            <div [hidden]="!username.errors.minlength">
                                Username must be at least 3 characters long
                            </div>
                        </div>
                    </div>

                    <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !email.valid }">
                        <label for="email">Email</label>
                        <input type="email" class="form-control" name="email" [(ngModel)]="model.email" #email="ngModel" required pattern="[a-z0-9!#$%&'*+/=?^_`{|}~.-]+@[a-z0-9-]+(\.[a-z0-9-]+)*"
                        />
                        <div *ngIf="email.errors && (email.dirty || email.touched)" class="help-block">
                            <div [hidden]="!email.errors.required">
                                Email is required
                            </div>
                            <div [hidden]="!email.errors.pattern">
                                Email must be well-formatted
                            </div>
                        </div>
                    </div>
                    <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !password.valid }">
                        <label for="password">Password</label>
                        <input type="password" class="form-control" name="password" [(ngModel)]="model.password" #password="ngModel" required pattern="^(?=.*[A-Z])(?=.*\d)[a-zA-Z\d]{7,}$"
                        />
                        <div *ngIf="password.errors && (password.dirty || password.touched)" class="help-block">
                            <div [hidden]="!password.errors.required">
                                Password is required
                            </div>
                            <div [hidden]="!password.errors.pattern">
                                Password must be at least 7 characters and contins at least 1 numeric and 1 upper case letter.
                            </div>
                        </div>
                    </div>

                    <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !confirmPassword.valid }">
                        <label for="confirmPassword">Confirm Password</label>
                        <input type="password" class="form-control" name="confirmPassword" [(ngModel)]="model.confirmPassword" #confirmPassword="ngModel"
                            required pattern="^(?=.*[A-Z])(?=.*\d)[a-zA-Z\d]{7,}$" />
                        <div *ngIf="confirmPassword.errors && (confirmPassword.dirty || confirmPassword.touched)" class="help-block">
                            <div [hidden]="!confirmPassword.errors.required">
                                Password is required
                            </div>
                            <div [hidden]="!confirmPassword.errors.pattern">
                                Password must be at least 7 characters and contins at least 1 numeric and 1 upper case letter.
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <button [disabled]="loading" class="btn btn-primary">Register</button>
                        <img *ngIf="loading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA=="
                        />
                    </div>
                    <div *ngIf="error" class="alert alert-danger">{{error}}</div>
                </form>
            </div>
        </div>
    </div>
</div>